div{
    width: 300px;
    height: 100px;
    background-color: chocolate;
    border: 1px;
}

.mt{
    margin-top: 50px;
}

.mb{
    margin-bottom: 50px;
}

.mr{
    margin-right: 50px;
}

.ml{
    margin-left: 50px;
}

.m{
    margin: 50px 50px 50px 50px;
}

.pt{
   padding-top: 50px;
}

.pb{
   padding-bottom: 50px;
}

.pr{
   padding-right: 50px;
}

.pl{
   padding-left: 50px;
}

.p{
   padding: 50px 50px 50px 50px;
}

.block{
    display: block;
    background-color: tan;
   
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
    width: 75vw;
    border: 1px solid;
}


.none{
    display: none;
}
/* f: flexbox 
   h: horizontal*/
.f-h-start{
    display: flex;
    justify-content: flex-start;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}
.f-h-end{
    display: flex;
    justify-content: flex-end;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-h-center{
    display: flex;
    justify-content: center;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-h-arround{
    display: flex;
    justify-content: space-around;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-h-between{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-v-start{
    display: flex;
    align-items: flex-start;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-v-end{
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-v-center{
    display: flex;
    align-items: center;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}

.f-v-stretch{
    display: flex;
    align-items: stretch;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
}


.f-v-col-start{
    display: flex;
    align-items: flex-start;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
    flex-direction: column;
}

.f-v-col-end{
    display: flex;
    align-items: flex-end;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
    flex-direction: column;
}

.f-v-col-center{
    display: flex;
    align-items: center;
    height: 200px;
    width: 50vw;
    background-color: cornflowerblue;
    margin-top: 10px;
    flex-direction: column;
}



/* itens filhos */
span{
    font-size: 18px;
    background-color: white;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}