div{
    width: 300px;
    height: 100px;
    background-color: chocolate;
    border: 1px;
}

.mt{
    margin-top: 50px;
}

.mb{
    margin-bottom: 50px;
}

.mr{
    margin-right: 50px;
}

.ml{
    margin-left: 50px;
}

.m{
    margin: 50px 50px 50px 50px;
}

.pt{
   padding-top: 50px;
}

.pb{
   padding-bottom: 50px;
}

.pr{
   padding-right: 50px;
}

.pl{
   padding-left: 50px;
}

.p{
   padding: 50px 50px 50px 50px;
}

.block{
    display: block;
    background-color: tan;
   
}

.inline{
    display: inline;
}

.inline-block{
    display: inline-block;
    width: 75vw;
    border: 1px solid;
}


.none{
    display: none;
}